<div class="container-nav">
    <nav id="nav" class="container-custom navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <h1 class="m-0 size-custom fw-bold">Dilvant</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Menú</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Reservas
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Postres Peruanos</a></li>
                            <li><a class="dropdown-item" href="#">Causa Rellena</a></li>
                            <li><a class="dropdown-item" href="#">Ají de Gallina</a></li>
                            <li><a class="dropdown-item" href="#">Pisco Sour</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <a href="#" class="btn ms-3 contac text-white">Contacto</a>
        </div>
    </nav>
</div>