<div class="container-section">
    <div class="container-custom">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-hero-1">Plato de la temporada</p>
                <p class="text-hero-2">Descubre el sabor auténtico de Perú con nuestro anticucho de temporada. Este
                    plato, lleno de tradición, combina tiernos trozos de corazón de res marinados en especias, servidos
                    con una salsa de ají y acompañados de papas doradas. Una experiencia culinaria que te transportará a
                    las calles de Lima.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 container-img">
                <img data-aos="flip-right" class="responsive-img" src="assets/images/Plato de anticucho.png"
                    alt="Restaurante peruano">
            </div>
        </div>
    </div>
</div>