<div class="container-section">
    <div class="container-custom">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-hero-1">Haz crecer tu amor por la comida peruana.</p>
                <p class="text-hero-2">Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</p>
                <a href="#" class="btn btn-carta text-hero-2 ">Nuestra nueva carta</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 container-img">
                <img data-aos="flip-left" class="responsive-img" src="assets/images/restaurante peruano.png" alt="Restaurante peruano">
            </div>
        </div>
    </div>
</div>