<div class="container-section">
    <div class="container-custom">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-hero-1">Una experiencia única</p>
                <p class="text-hero-2">En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores
                    platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una
                    explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras
                    especialidades.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 container-img">
                <img data-aos="flip-right" class="responsive-img" src="assets/images/Experiencia culinaria.png"
                    alt="Restaurante peruano">
            </div>
        </div>
    </div>
</div>