<div class="container-section">
    <div class="container-custom">
        <div class="row align-items-center">
            <h2 class="text-hero-1">¿Cómo funciona? Elige tu plato favorito.</h2>
            <div class="row container-box">
                <div class="box">
                    <img src="assets/images/Platos de comida.png" alt="" width="64" height="64">
                    <p class="text-hero-2">Ofrecemos platos que combinan tradición y modernidad, diseñados para deleitar
                        tu
                        paladar.</p>
                </div>
                <div class="box">
                    <img src="assets/images/restaurante.png" alt="" width="64" height="64">
                    <p class="text-hero-2">Disfruta de un ambiente acogedor mientras degustas nuestros sabrosos platos.
                    </p>
                </div>
                <div class="box">
                    <img src="assets/images/chefs en la cocina.png" alt="" width="64" height="64">
                    <p class="text-hero-2">La excelencia de la cocina peruana se refleja en nuestros platos.</p>
                </div>
            </div>
        </div>
    </div>
</div>