<div class="container-section">
    <div class="container-custom">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12 container-img">
                <img data-aos="flip-right" class="responsive-img" src="assets/images/restaurante peruano.png" alt="Restaurante peruano">
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <p class="text-hero-1">Reserva hoy mismo.</p>
                <p class="text-hero-2">Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
                <a href="#" class="btn btn-carta text-hero-2 ">Reservar</a>
            </div>
        </div>
    </div>
</div>