<div class="container-section">
    <div class="container-custom">
        <div class="container-subTitle row">
            <div class="col-lg-6">
                <h2 class="text-hero-1">Recetas Peruanas Populares</h2>
            </div>
            <div class="col-lg-2">
                <p class="text-hero-2">Explora Todos los Platos <svg xmlns="http://www.w3.org/2000/svg" width="15"
                        height="15" viewBox="0 0 15 15">
                        <path fill="rgba(212, 162, 6, 1)"
                            d="M8.293 2.293a1 1 0 0 1 1.414 0l4.5 4.5a1 1 0 0 1 0 1.414l-4.5 4.5a1 1 0 0 1-1.414-1.414L11 8.5H1.5a1 1 0 0 1 0-2H11L8.293 3.707a1 1 0 0 1 0-1.414" />
                    </svg>
                </p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="assets/images/postre peruano.png" alt="">
                        <p class="text-hero-3">Postre Peruanos</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/9be180250b49442f01e7b01966f0d614.png" alt="">
                        <p class="text-hero-3">Causa Rellena</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/88077fc3cb5a2a30dcbd9eabc86ba419.png" alt="">
                        <p class="text-hero-3">Ají de Gallina</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/c2bafa656cebbedb8fe14c145479de71.png" alt="">
                        <p class="text-hero-3">Pisco Sour</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="assets/images/48020fd115405e37910182bd0d0f0a99.png" alt="">
                        <p class="text-hero-3">Ceviche</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>